.main-novedades {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;

        .card {
            margin: 15px 0px;
            border: none;
            border-radius: 5%;
            background-color: burlywood;

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;

                a {
                    background-color: black;
                    color: white;
                    padding: 15px;

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }


    }
}