// Media Querys

@media (max-width : 900px) {
    header {
        .navbar-collapse {
            justify-content: flex-start;

        }
    }
}

@media (max-width : 567px) {
    .main-novedades {
        .grid-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .textoPrincipal {
        .tituloPrincipal {
            font-size: 30px;
            text-align: center;
        }
    }

    .main-index {
        .contenedorInicio {
            flex-wrap: wrap;
        }
    }
}